.station-image-wrapper {
  width: 100%;
  height: 300px; /* of 250px, of wat jij wil */
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #eee; /* optioneel, voor visuele afscheiding */
}

.station-image-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}