.toggle-wrapper {
    display: flex;
    border: 2px solid #fb403e;
    border-radius: 20px;
    overflow: hidden;
    width: fit-content;
    margin: 0px auto;
  }
  
  .toggle-button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    background-color: #ffffff;
    color: #fb403e;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .toggle-button.active {
    background-color: #fb403e;
    color: #ffffff;
  }
  