@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.title {
  color: #FA413D;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Poppins", sans;
  font-weight: bold;
}

/* StationCard.module.css */

/* Container voor de knop in het midden onderaan */
.buttonContainer {
  position: absolute;
  bottom: 100px; /* Zorg ervoor dat het een beetje van de onderkant van de pagina is */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
  z-index: 10;
}

.button {
  display: flex;
  flex-direction: column; /* Zet de pijl en de tekst onder elkaar */
  align-items: center;
}

.more {
  background-color: transparent;
  color: #0863AE;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow {
  width: 60px; /* Pas de grootte van de pijl aan naar wens */
  height: auto;
}

.backText {
  font-size: 20px; /* Maak de tekst iets kleiner voor "Terug" */
  text-align: center;
  margin-top: 5px; /* Ruimte tussen de pijl en de tekst */
}

.card {
  display: flex;
  justify-content: center; /* Horizontaal centreren */

  height: 100vh;           /* Volledige hoogte van het scherm */
  padding: 20px;           /* Optioneel, voor wat ruimte */
  box-sizing: border-box;
  background-color: white; /* Optioneel, maar handig om grijze achtergrond te vermijden */
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;   /* Horizontaal centreren van alle elementen */
  text-align: center;    /* Centreert de tekst zelf */
}




.buttonGroup {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 20px;
  margin-bottom: 30px;
}

.actionButton {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  color: #0863AE;
  font-size: 14px;
  cursor: pointer;
  
}

.icon {
  width: 65px;
  height: auto;
  margin-bottom: 5px;
}

.noLinkStyle {
  text-decoration: none;
  color: inherit; /* behoud de kleur van de inhoud */
}